// Colors
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// Fonts
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Font & Icon sizes
$icon-size-m: 4.5rem;

$font-size-xs: 1.3rem;
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 1.7rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3.5rem;

// Spacing
$spacing-xs: 1rem;
$spacing-s: 2rem;
$spacing-m: 3rem;
$spacing-l: 4rem;
$spacing-xl: 6rem;
