@import './variables.scss';
@import './base.scss';
@import './typography.scss';
@import './buttons.scss';

// Components
@import '../components/Features.scss';
@import '../components/Header.scss';
@import '../components/LandingPage.scss';
@import '../components/Sidebar.scss';
@import '../components/Story.scss';

.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
}

.homes {
  background-color: $color-secondary;
  grid-column: center-start / center-end;
}

.gallery {
  background-color: $color-grey-dark-2;
  grid-column: full-start / full-end;
}

.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
}
