@import './variables';
@import './base';
@import './typography';
@import './buttons';

// Components
@import '../components/Features';
@import '../components/Header';
@import '../components/Homes/Homes';
@import '../components/Homes/HomeCard';
@import '../components/LandingPage';
@import '../components/Sidebar';
@import '../components/Story';

.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
}

.gallery {
  background-color: $color-grey-dark-2;
  grid-column: full-start / full-end;
}

.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
}
