*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  color: #54483a;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6; }

a {
  color: currentColor;
  font-weight: 600;
  transition: all .2s; }
  a:hover {
    color: #b28451; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-style: italic;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 3rem; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  color: #b28451;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.785rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  background-color: #c69963;
  color: white;
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem 3rem;
  transition: all .2s; }
  .btn:hover {
    background-color: #b28451;
    color: white; }

.features {
  align-items: start;
  display: grid;
  grid-gap: 4rem;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 6rem 0; }

.feature {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: min-content, 1fr;
  font-size: 1.7rem;
  align-items: center; }

.feature__icon {
  fill: #b28451;
  grid-row: 1 / 2;
  height: 4.5rem;
  width: 4.5rem; }

.feature__text {
  grid-column: 2 / 3; }

.header {
  background-color: #54483a;
  color: white;
  grid-column: full-start / col-end 6; }

.sidebar {
  background: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.story {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column: full-start / full-end; }

.story__pictures {
  background-color: #c69963; }

.story__content {
  align-items: flex-start;
  background-color: #f9f7f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 8vw; }

.story__text {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 4rem; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.homes {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #6d5d4b;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
