.gallery {
  background-color: $color-grey-light-1;
  display: grid;
  grid-column: full-start / full-end;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 1.5rem;
}

.gallery__item {
}

.gallery__img {
  display: block; // Remove the weird small white space after images
  height: 100%; // Must define

  // Fits each image to a grid cell while keeping the aspect ratio
  object-fit: cover; // Must define height AND width manually
  width: 100%; // Must define
}

// 1st row
.gallery__item--1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.gallery__item--2 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}

.gallery__item--3 {
  grid-column: 6 / span 1;
  grid-row: 1 / span 2;
}

.gallery__item--4 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 2;
}

// 2nd row
.gallery__item--5 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
}

.gallery__item--6 {
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
}

.gallery__item--7 {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.gallery__item--8 {
  grid-column: 6 / span 2;
  grid-row: 3 / span 2;
}

.gallery__item--9 {
  grid-column: 8 / span 1;
  grid-row: 3 / span 3;
}

// 3rd row

.gallery__item--10 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 2;
}

.gallery__item--11 {
  grid-column: 2 / span 2;
  grid-row: 6 / span 2;
}

.gallery__item--12 {
  grid-column: 4 / span 1;
  grid-row: 6 / span 2;
}

.gallery__item--13 {
  grid-column: 5 / span 3;
  grid-row: 5 / span 3;
}

.gallery__item--14 {
  grid-column: 8 / span 1;
  grid-row: 6 / span 2;
}
