.sidebar {
  align-items: flex-start;
  background: $color-primary;
  display: flex;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; // Start at the beginning, stretch until the end
  justify-content: center;

  @media only screen and (max-width: $bp-tablet-land) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }
}

.nav-btn,
.nav-btn:focus {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-top: $spacing-s;
  outline: none;
  padding: $spacing-m $spacing-s;

  @media only screen and (max-width: $bp-tablet-land) {
    margin: 0;
    margin-right: $spacing-xs;
  }
}

.spanburger {
  background-color: white;
  display: block; // have to define
  font-size: 0;
  height: 2px;
  width: 4.2rem;

  &::before,
  &::after {
    background-color: white;
    content: '';
    display: block; // have to define
    height: 2px;
    width: 4.2rem;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-tablet-land) {
    width: 3.8rem;

    &::before {
      transform: translateY(-1.2rem);
      width: 3.8rem;
    }

    &::after {
      transform: translateY(1rem);
      width: 3.8rem;
    }
  }
}
